{% extends "model_app/base.html" %}
{% load static %}

{% block content %}
<h1>About Me</h1>
<center><img src="{% static 'model_app/Anirudh2022.jpeg' %}" alt="Anirudh Mazumder", height="300"></center>
<p>Anirudh is a Junior at the Texas Academy of Mathematics & Science (TAMS) and a health policy lead at the Institute of Youth In Policy (YIP). He seeks to leverage computational problem-solving and health policy for holistically addressing needs of the community and society. Additionally, Anirudh loves being involved in activities focused on enabling the potential of the communities he serves, as evidenced by his participation in Beth Van Duyne's Congressional Youth Leadership team last year. Anirudh has also published research on building controllers to soft robots for applications such as disease detection at IEEE Conferences and research on Kidneys to help minimize repercussions from kidney diseases and to further help people ensure their kidney is in the best health possible.</p>
{% endblock %}
